:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* This will make the main content area grow to fill available space */
}
