@import "tailwindcss";

:root {
  --primary-color: #036DB6;
  --button-color: #006bb6;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f4f6f9; }

.mat-mdc-button, .mat-mdc-raised-button, .mat-mdc-unelevated-button {
  background-color: var(--button-color) !important;
  color: #fff !important;
}